.card {
    position: relative;
}
.new-item {
    color: white;
    font-size: 14px;
    left: 24px;
    top: 10px;
    padding: 0px 5px;
    position: absolute;
    z-index: 1;
    background: red;
    position: absolute;
}